.banner {
  height: 300px;
  background-color: red;
}
/* max width => desktop first => màn hình từ lớn tới bé */
@media screen and (max-width: 1200px) {
  .banner {
    background: black;
  }
}
@media screen and (max-width: 992px) {
  .banner {
    background: blue;
  }
}
/* min width */
.carousel {
  height: 300px;
  background-color: orange;
}
/* min width => mobile first => màn hình từ bé tới lớn */

@media screen and (min-width: 768px) {
  .carousel {
    background-color: green;
  }
}
@media screen and (min-width: 992px) {
  .carousel {
    background-color: purple;
  }
}
